.container {
  width: 100%;
  position: relative;
  border-collapse: collapse;
}
.content {
  margin-top: 10px;
  flex: 1;
}

.search-desktop {
  padding: 12px;
  margin-left: 2px;
  display: block;
  width: 95%;
  bottom: 12px;
}

@media only screen and (max-width: 600px) {
  .search-desktop {
    width: 80%;
    margin-top: 3px;
    display: block;
  }
}
